.square {
  background: #0014ff;
  width: 10vw;
  height: 10vw;
  border: black;
  border: solid;
  position: absolute;
}

#target {
  margin-bottom: 20%;
}

.highlight {
  background: red;
  width: 10vw;
  height: 10vw;
  border: black;
  border: solid;
  position: absolute;
}

.delete{
    background-color: red !important;
}

#mySidebar{
    background-color: #e7ea00;
}
